<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>Golf Pro</title>
        
        <!-- My stylesheets -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/maincss.css" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/jquery.mobile-1.3.2.min.css" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/jquery.mobile.theme.css" />        
        
        <!-- My javascript -->
        <script type="text/javascript" src="../javascript/jquery.main.js"></script>
        <script type="text/javascript" src="../javascript/jquery.mobile-1.3.2.min.js"></script>
        <script type="text/javascript" src="../javascript/my.javascript.js"></script>

    </head>
    
    <body>
        <div data-role="page" id="page1">
            <div data-role="header" id="header" data-theme="c">
                <a href="index.html" data-role="button" data-theme="a">Home</a>
                <h1>Golf Stats</h1>
                <a href="newround.html" data-role="button" data-theme="a">New</a>
            </div>
            
            <div data-role="content" id="showstats">
                <p>Course Name: Salt Creek</p>
                <p>Date: 12/9/2013</p>
                <p>Round: 18 Holes</p>
                <p>Par: 72</p>
                <p>Fairways Hit: 50%</p>
                <p>GIR: 75%</p>
                <p>Chips: 17</p>
                <p>Putts: 23</p>
            </div>
            
            <div data-role="footer" data-position="fixed" id="footer">
                
            </div>
        </div>
    </body>
</html>